<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <%- include('./nav/_navbar')%>

    <div class="container text-center pt-5">
        <div class="w-auto mb-3 position-absolute top-50 start-50 translate-middle">
            <div class="card-body">
                <h4 class="card-title">Learning Inc.</h4>
                <p class="card-text pb-2 lead">We are here to support you in your learning needs</p>
                <p class="card-text">Take a look at the courses we offer</p>
                <p class="card-text fw-bold pt-2 pb-2">OR</p>
                <p class="card-text pb-3">Take the quiz to see which course is best for you</p>
                <a href="#" class="btn btn-primary mb-3">Courses</a>
                <a href="#" class="btn btn-primary mb-3">Quiz</a>
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="/js/bootstrap.js"></script>
</body>
</html>